# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/

# Environment & config
.env
*.env

# System/IDE
.DS_Store
.vscode/
.idea/

# Log and runtime files
*.log
*.sqlite3
downloads/
logs/
queue/
runtime/
