[Unit]
Description=Telegram Spotify Bot
After=network.target

[Service]
WorkingDirectory=/root/Telegram-Music-Downloader-Bot
ExecStart=/root/Telegram-Music-Downloader-Bot/venv/bin/python bot.py
Restart=always
Environment="BOT_TOKEN=your_actual_token"

[Install]
WantedBy=multi-user.target
